<ion-view>
    <ion-content class="loading" scroll="">
        <div class="login-view" style="display: inline-block;">
            <div class="login-header" style="display: inline-block;">

                <div class="logo">
                    <img ng-src="img/logo.png" class="img-responsive">
                </div>
                <div class="login-offer">
                    <img ng-src="img/banner.png" class="img-responsive">
                    <img ng-src="img/banner.png" class="img-responsive">
                </div>
            </div>

            <div class="login-contain">
                <div class="login-button">
                    <div class="txt-login" ng-click="login()">
                        login
                    </div>
                    <div class="txt-regi" ng-click="regi()">
                        registration
                    </div>
                </div>
                <div class="login-form">
                    <div class="left"></div>
                    <div class="">
                        <div class="d-uname"></div>
                        <div class="form-group">
                          <label for="name" class="labelandinput">NAME:</label>
                          <input type="email" class="form-control" id="name" >
                        </div>
                        <div class="form-group">
                          <label for="pwd" class="labelandinput">PASSWORD:</label>
                          <input type="password" class="form-control" id="pwd" >
                        </div>
                        <div class="remepwd">
                            <input type="checkbox" checked="">Remember Password
                        </div>
                        <div class="log-btn" style="height:34px">
                            <span ng-click="go()">LOGIN</span>
                        </div>
                    </div>
                </div>
                <div class="regi-form">
                    <div class="left"></div>
                    <div class="" style="margin-top:-20px">
                        <div class="d-uname"></div>
                        <div class="form-group">
                          <label for="name" class="labelandinput"> USER NAME:</label>
                          <input type="email" class="form-control" id="name" >
                        </div>
                        <div class="form-group">
                          <label for="pwd" class="labelandinput">PASSWORD:</label>
                          <input type="password" class="form-control" id="pwd" >
                        </div>
                         <div class="form-group">
                          <label for="email" class="labelandinput">EMAIL:</label>
                          <input type="email" class="form-control" id="email" >
                        </div>
                        <div class="form-group" >
                          <label for="email" class="labelandinput"> PROMO CODE</label>
                          <div class="col-md-6 col-sm-6 col-xs-6">
                          <input type="email" class="form-control" id="email" ></div>
                          <div class="col-md-6 col-sm-6 col-xs-6">
                          <img ng-src="img/play-for-free-button.png" class="img-responsive" style="height:34px">
                        </div>
                        </div>
                    </div>
                </div>
                <div class="right"></div>
            </div>
        </div>
    </ion-content>
</ion-view>