<ion-view>
    <ion-content class="img-background">
    	<div class="menu-backbtn">
    		<img src="img/lobby/back.png" ng-click="back()">
    	</div>
    	<div class="menu-menubtn">
    		<img src="img/lobby/menu.png">
    	</div>
    	
    	<div name="menuContent"></div>

	    <div class="footer">
	    	<div class="profile">
	    		<img src="img/lobby/user.png">
	    		Suraj Sasi
	    	</div>

	    	<div class="cash">
	    		<img src="img/lobby/rupee.png"><span>54,896</span>
	    		<span class="addcash">add cash</span>
	    	</div>

	    	<div class="bonus">
	    		Bonus<br>
	    		<span class="txt-bonus">25467</span>
	    	</div>

	    	<div class="silver-club">
	    		Silver Club
	    		<img src="img/lobby/club-silver.png">
	    	</div>

	    	<div class="notifi">
	    		<img src="img/lobby/notification-icon.png">
	    	</div>
	    	
	    </div>
    </ion-content>
</ion-view>
